
{% extends 'base.html' %}
{% load static %}
{% block title %} A7BC {% endblock %}
{% block content %}
<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{%url 'index' %}" class="logo">
                        <img src="{% static 'assets\images\A7BC.png' %}" height="60" width="130" style="border-radius: 6px; background-color: #00473c;">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#welcome" class="menu-item">Home</a></li>
                        <li class="scroll-to-section"><a href="#about" class="menu-item">About</a></li>
                        <li class="scroll-to-section"><a href="#testimonials" class="menu-item">Testimonials</a>
                        </li>
                        <li class="submenu">
                            <a href="javascript:;">Drop Down</a>
                            <ul>
                                <li><a href="" class="menu-item">About Us</a></li>
                                <li><a href="" class="menu-item">Features</a></li>
                                <li><a href="" class="menu-item">FAQ's</a></li>
                                <li><a href="" class="menu-item">Blog</a></li>
                            </ul>
                        </li>
                        <li class="scroll-to-section"><a href="#contact-us" class="menu-item">Contact Us</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

{% include 'welcome_area.html' %}

 <!-- ***** Features Big Item Start ***** -->
<section class="section" id="about">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-6 col-sm-12 mb-4"
                data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <div class="features-item stylish-card">
                    <div class="features-icon">
                        <img src="{% static 'oasis\img\carousel-3.jpg' %}" alt="Oasis" class="img-fluid rounded-top">
                        <h4 class="card-title">Oasis</h4>
                        <p class="card-description">We connect exceptional talent with leading organizations to create successful partnerships. Our dedicated team specializes in understanding both client needs and candidate aspirations. Let us help you build your dream team and unlock new opportunities!</p>
                        <a href="{% url 'oasis' %}" class="main-button stylish-button">Visit</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 mb-4"
                data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <div class="features-item stylish-card">
                    <div class="features-icon">
                        <img src="{% static 'fantastic\img\gallery\mrrg.webp' %}" alt="Fantastic Frames" class="img-fluid rounded-top">
                        <h4 class="card-title">Funtastic Frames</h4>
                        <p class="card-description">Funtastic Frames is your go-to destination for exquisite photo framing and personalized art solutions. We take pride in preserving your cherished memories with our wide range of high-quality frames, stylish mounts, and expert craftsmanship. Whether you're looking to frame family portraits, artwork, or special moments, our dedicated team is here to help you create stunning displays that enhance your home or office décor.</p>
                        <a href="{% url 'fantastic-home' %}" class="main-button stylish-button">Visit</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 mb-4"
                data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <div class="features-item stylish-card">
                    <div class="features-icon">
                        <img src="{% static 'gc/images/green_chillies.jpeg' %}" alt="Green Chillies" class="img-fluid rounded-top">
                        <h4 class="card-title">Green Chillies</h4>
                        <p class="card-description">Green Chillies offers a vibrant dining experience featuring a unique blend of traditional and contemporary flavors. Specializing in spicy, aromatic dishes, our menu showcases the finest ingredients crafted into mouthwatering culinary delights. Join us for a memorable meal where every bite tells a story and every visit feels like home!</p>
                        <a href="{% url 'green-chillies' %}" class="main-button stylish-button">Visit</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4"
                data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <div class="features-item stylish-card">
                    <div class="features-icon">
                        <img src="{% static 'images\category4_470x.jpg' %}" alt="Green Chillies" class="img-fluid rounded-top">
                        <h4 class="card-title">Southern Spices</h4>
                        <p class="card-description">Green Chillies offers a vibrant dining experience featuring a unique blend of traditional and contemporary flavors. Specializing in spicy, aromatic dishes, our menu showcases the finest ingredients crafted into mouthwatering culinary delights. Join us for a memorable meal where every bite tells a story and every visit feels like home!</p>
                        <a href="{% url 'spices' %}" class="main-button stylish-button">Visit</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<div class="right-image-decor"></div>
<!-- ***** Features Big Item End ***** -->
 {% include 'testimonal.html' %}






{% endblock %}