{% load static %}
    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome" id="welcome">

        <div class="header-text">
            <h1>
                Simple App <br> that We  <span> CREATE </span>
            </h1>
            <a href="#">
                <button>Know us better</button>
            </a>
        </div>
        <div class="header-img">
            <div class="header-img-overlay"></div>
        </div>



        <!-- ***** Header Text Start ***** -->
        {% comment %} <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="left-text col-lg-6 col-md-12 col-sm-12 col-xs-12"
                        data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">


                        <h1 style="margin-left: 3px;">Simple App that we <em>CREATE</em></h1>
                        <p><a href="#"></a> <a href="#"></a>
                           </p> 
                        <a href="#about" class="main-button-slider">KNOW US BETTER</a>


                    </div>
                </div>
            </div>
        </div> {% endcomment %}
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->